@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@font-face {
    font-family: 'argent';
    src: url('../../Assets/fonts/argentcf-regular-webfont.woff2') format('woff2'),
         url('../../Assets/fonts/argentcf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}