header {
    position: fixed;
    width: 100%;
    z-index: 100;
    .container-lg {
        background-color: $light-color;
        margin: 0 auto;
        padding: 15px 40px;
        .logo-con {
            padding: .5rem 0;
            display: block;
            .logo {
                img {
                    @media screen and (max-width: $m) {
                        width: 87px;
                        height: 26px;
                    }
                }
            }
        }
        nav {
            .nav-link {
                color: $menu-color;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                padding-left: 1rem !important;
                padding-right: 1rem !important;
                &:hover {
                    background: $primary-color;
                    color: $light-color;
                }
            }
        }
    }
    #mobilNavOpen {
        font-size: 40px;
        font-weight: 100;
        padding: 0.5rem 0;
        height: 40px;
        color: #3A3A3A;
    }
    #mobilNav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 300;
        top: 0;
        left: 0;
        background-color: $dark-color;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        -webkit-box-shadow: 2px 11px 20px #171717;
        box-shadow: 2px 11px 20px #171717;
        ul {
            margin: 0 auto;
            li {
                margin: 10px 0;
                display: block;
                a {
                    padding: 8px 30px;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff !important;
                    display: block;
                    transition: 0.3s;
                    &:hover {
                        background: $primary-color;
                    }
                }
            }
        }
    }
}