#hero {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 0 !important;
    margin-bottom: -30px;
    padding-top: 65px;
    padding-bottom: 0 !important;
    .container-lg {
        position: relative;
        .hero-body {
            position: absolute;
            width: 38%;
            padding: 13rem 3rem 10rem 0;
            .hero-title {
                margin-bottom: 30px;
                color: $dark-color;
                font-size: 50px;
                font-weight: 700;
                line-height: 62px;
                span {
                    color: $primary-color;
                }
                @media screen and (max-width: $m) {
                    font-size: 28px;
                    line-height: 38px;
                }
            }
            .hero-description {
                margin-bottom: 30px;
                color: $text-color;
                font-size: 16px;
                line-height: 28px;
            }
            .hero-button {
                padding: 0.5rem 4rem;
                border-radius: 0;
                background: $black;
                font-size: 18px;
                line-height: 28px;
                @media screen and (max-width: $s) {
                    padding: 1rem 2rem;
                }
            }
            @media screen and (max-width: $xl) {
                width: 38%;
                padding: 8rem 1rem 0rem 0rem;
            }
            @media screen and (max-width: $l) {
                width: 38%;
                padding: 8rem 1rem 0rem 0rem;
            }
            @media screen and (max-width: $s) {
                width: 75%;
                padding: 8rem 1rem 0rem 1rem;
            }
        }
        .hero-watch {
            position: absolute;
            top: 5rem;
            right: 24%;
            width: 459px;
            height: 567px;
            background-repeat: no-repeat;
            z-index: 80;
            @media screen and (max-width: $l) {
                right: 15%;
            }
            @media screen and (max-width: $m) {
                right: 12%;
            }
            @media screen and (max-width: $s) {
                top: 5rem;
                right: 0;
                width: 152px;
                height: 281px;
                background-position: right;
                background-size: 100%;
            }
        }
    }
    .hero-dark {
        position: absolute;
        right: 0;
        width: 45%;
        background: $hero-dark-color;
        overflow: hidden;
        .hero-watch-whiteBg {
            position: absolute;
            top: 7.5rem;
            left: 0;
            width: 200px;
            height: 75%;
            background: #ffffff26;
            z-index: 20;
        }
        span {
            position: absolute;
            top: 11rem;
            color: $h-color;
            font-size: 220px;
            font-weight: 900;
            line-height: 180px;
        }
        @media screen and (max-width: $s) {
            width: 20%;
        }
    }
}