.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    .product-card {
        .card--link {
            text-decoration: none;
            .card--img {
                width: 100%;
            }
            .card--title {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0 10px;
                font-size: 16px;
                text-align: center;
            }
        }
    }
    @media screen and (min-width: $m) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}