.usp {
    background-color: $dark-color;
    color: $light-color;
    font-weight: 700;
    text-align: center;
    padding: 40px 30px;
    letter-spacing: 0;
    @media screen and (max-width: $m) {
        padding: 0;
    }
    .usp-con {
        border-left: 1px solid $primary-color;
        fill: #d8d8d8;
        &:first-child {
            border: none;
            @media screen and (max-width: $m) {
                border-bottom: 1px solid $primary-color;
            }
        }
        &:nth-child(3) {
            @media screen and (max-width: $m) {
                border-left: 0;
            }
        }
        .usp-icon {
            display: block;
            height: 60px;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: 50% 50%;
            object-position: 50% 50%;
            width: 100%;
            margin-bottom: 1.5rem;
        }
        .usp-text {
            vertical-align: bottom;
        }
        .semi {
            font-weight: 400;
        }
        @media screen and (max-width:$m) {
            padding: 30px;
            border-bottom: 1px solid $primary-color;
        }
    }
}